/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    width: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    font-size: 1.5em;
    text-align: center;
}

/* Estilos para las imágenes de fondo de las tarjetas */
.card-image {
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.oracle-bg {
    background-image: url('../img/oracle.jpg'); /* Reemplaza 'oracle.jpg' con la ruta de tu imagen de Oracle */
}

.goldengate-bg {
    background-image: url('../img/goldengate.jpg'); /* Reemplaza 'goldengate.jpg' con la ruta de tu imagen de GoldenGate */
}

.zabbix-bg {
    background-image: url('../img/zabbix.jpg'); /* Reemplaza 'zabbix.jpg' con la ruta de tu imagen de Zabbix */
}

.oraclecloud-bg {
    background-image: url('../img/oraclecloud.png'); /* Reemplaza 'oraclecloud.png' con la ruta de tu imagen de Oracle Cloud */
}

.linux-bg {
    background-image: url('../img/linux.jpg'); /* Reemplaza 'linux.jpg' con la ruta de tu imagen de Linux */
}

.informes-bg {
    background-image: url('../img/informes.jpg'); /* Reemplaza 'informes.jpg' con la ruta de tu imagen de Informes */
}

/* Estilos para la sección de detalles */
#details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 999;
}

#detail-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.close {
    display: block;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

/* Estilos para mostrar detalles */
.show-details {
    display: block !important;
}

.hidden {
    display: none !important;
}
